.main-content {
  background-image: url(../img/mainBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  font-family: Merriweather;
  font-size: 70px;
  font-weight: 700;
  color: #254626;
  margin-top: 35px;
  line-height: 100%;
}

.maim-desription {
  margin-top: 7px;
  font-size: calc(15px + 10 * (100vw / 1440));
  color: #254626;
  line-height: 120%;
  width: 89%;
  text-align: center;
}

.main-orderButton {
  cursor: pointer;
  font-size: 26px;
  line-height: 100%;
  padding: 15px !important;
  background-color: #64c209;
  color: white !important;
  text-decoration: none !important;
  margin-top: 32px;
}

@media screen and (max-width: 1200px) {
  .main-content h1 {
    font-size: 50px;
    margin-top: 22px;
  }

  .main-content {
    height: 450px;
  }

  .maim-desription {
    line-height: 120%;
    width: 90%;
    text-align: center;
    font-size: calc(10px + 5 * (100vw / 1440));
  }

  .main-orderButton {
    padding: 10px;
    margin-top: 15px;
    font-size: 22px;
    text-decoration: none;
  }
}

@media screen and (max-width: 800px) {
  .main-content h1 {
    font-size: 20px;
    margin-top: 13px;
    padding: 0;
  }
  .main-orderButton {
    font-size: 13px;
    padding: 7px;
    margin-top: 11px;
  }
  .main-content {
    height: 250px;
  }
}
