.main-content {
  background-image: url(../img/mainBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  font-family: Merriweather;
  font-size: 70px;
  font-weight: 700;
  color: #254626;
  margin-top: 62px;
  line-height: 0px;
}

.maim-desription {
  margin-top: 45px;
  font-size: 15px;
  color: #254626;
  line-height: 0px;
}

.main-orderButton {
  padding: 15px 28px;
  background-color: #64c209;
  color: white !important;
  text-decoration: none;
  margin-top: 52px;
}

@media screen and (max-width: 1200px) {
  .main-content h1 {
    font-size: 50px;
    margin-top: 52px;
  }

  .main-content {
    height: 450px;
  }

  .maim-desription {
    margin-top: 30px;
    line-height: 10px;
    width: 90%;
    text-align: center;
    font-size: 15px;
  }

  .main-orderButton {
    padding: 10px 20px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 800px) {
  .main-content h1 {
    font-size: 20px;
    margin-top: 22px;
  }

  .maim-desription {
    display: none;
  }

  .main-orderButton {
    font-size: 13px;
    padding: 7px 15px;
    margin-top: 22px;
  }
  .main-content {
    height: 250px;
  }
}
