body {
  box-sizing: border-box;
  font-family: Comfortaa, "sans-serif", Georgia, "Times New Roman", Times, serif;
}

.dishes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishes-title {
  margin: 70px auto;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 700;
  color: #254626;
}

.dishes-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.dishes-item {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 48%;
  height: 700px;
  padding-left: 5%;
}

.dishes-item_title {
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 32px;
  color: #254626;
  margin: 50px 0px 59px;
  text-align: center;
}

.dishes-item_img {
  height: 320px;
  position: absolute;
  z-index: 2;
  margin-top: 230px;
  margin-left: 20%;
}

.dishes-item_text ul {
  list-style-type: disc;
  color: #254626;
  width: 50%;
}

.dishes-item_text ul li a {
  white-space: pre-line;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 25px;
  color: #254626;
}

.dishes-item_text ul li {
  margin-bottom: 15px;
}

.dishes-navigation {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 45px 0px 20px;
}

@media screen and (max-width: 1400px) {
  .dishes-item_img {
    display: none;
  }

  .dishes-item_text ul {
    width: 90%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 800px) {
  .dishes-title {
    margin: 5px auto 25px;
    font-size: 20px;
  }

  .dishes-item {
    height: 280px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  }

  .dishes-item_title {
    font-size: 15px;
    margin: 15px 0px 10px;
  }

  .dishes-item_text ul li a {
    font-size: 8px;
  }

  .dishes-item_text ul li {
    margin-bottom: 5px;
  }

  .backButton,
  .nextButton {
    width: 60px;
  }
}

@media screen and (max-width: 350px) {
  .dishes-item {
    height: 300px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  .dishes-item_text ul li {
    margin-bottom: 3px;
  }
}
